name: Run UI and API Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for Gradle
        run: chmod +x ./gradlew

      - name: Run Tests
        run: ./gradlew test

      - name: Archive HTML report (Cucumber)
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: cucumber-html-report
          path: build/reports/cucumber-report.html

      - name: Archive Test Reports (JUnit & Cucumber)
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: full-test-reports
          path: |
            build/reports/
            build/test-results/
